.user-settings {
    position: absolute;
    right: 5%;
    background: var(--bg-color);
    top: 110%;
    max-width: 350px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;
}

.user-setting-showup-toggle {
    max-height: 439px;
}

.user-settings .user-profile {
    padding: 20px;
}

.user-profile div p {
    color: #6a6a6a;
    font-weight: 600;
}

.user-settings .user-profile a {
    font-size: 13px;
    text-decoration: none;
    color: #626262;
}


.user-settings hr {
    width: 90%;
    margin: auto;
    background: #dbdbdb;
    border: 0px;
    height: 1px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 20px 25px 20px;
}

.settings-links img {
    width: 38px;
    margin-right: 10px;
}

.settings-links a img {
    width: 7px;
}

.settings-links a {
    color: #626262;
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-darkButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#dark-button {
    background: #ccc;
    margin-right: 20px;
    padding: 2px 3px;
    border-radius: 15px;
    width: 45px;
    cursor: pointer;
}

div#dark-button span {
    background: var(--bg-color);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
}

div#dark-button.dark-mode-on {
    background: #464545;
    padding: 2px 22px;
}

.btn-LoadMore.loadMoreToggle {
    background: red;
    color: white;
}